Source: orange-pl
Section: net
Priority: extra
Maintainer: Jakub Wilk <ubanus@users.sf.net>
Build-Depends: debhelper (>= 5), perl
Standards-Version: 3.7.2
Bugs: mailto:ubanus@users.sf.net

Package: orange-pl
Architecture: all
Depends: kawute (>= 0.8), libcrypt-ssleay-perl
Description: Send SMs via orange.pl gateway
